.rv__header-menu {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 9;
  text-align: center;
  margin: -99px auto 0;
  -webkit-transition: opacity .6s ease, margin .6s ease, opacity .6s, .3s ease;
  transition: opacity .6s ease, margin .6s ease, opacity .6s, .3s ease;
  @include media-breakpoint-up(lg) {
    display: block !important;
  }

  @include media-breakpoint-down(md) {
    margin: auto;
    height: auto;
    display: none;
    margin: -20px auto 0;
    border-top: 1px solid #fff;

  }

  ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;

    @include media-breakpoint-down(md) {
      height: auto;
      display: block;
      background: $primary-color;
      li {
        &:last-child {
          border-bottom: 0 solid $secondary-color;
        }
      }
    }

    li {
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      @include media-breakpoint-down(md) {
        border-bottom: 1px solid $secondary-color;
        height: 50px;
      }

      &:hover a {
        color: $secondary-color;
      }

      &:active a {
        color: $secondary-color;
      }


      a {
        color: $color-white;
        font-family: $font-textanarrowalt-book;
        font-size: 1.6em;
        padding: 18px 18px;
        transition: all .9s cubic-bezier(.18,.84,.44,.85);
        &:hover {
          text-decoration: none;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
          padding: 0 0;
        }
      }
    }
    .rv__header-menu-over {
      width: 80px;
      background: $secondary-color;
      height: 6px;
      position: absolute;
      display: table;
      bottom: 0;
      transition: all .9s cubic-bezier(.18,.84,.44,.85);
      opacity: 0;
      margin-left: -39px;
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
}

