

.blue-wave { background-position: 0 0%; background-size: 100%; }
.yellow-wave { background-position: 0 8.807734%; background-size: 100%; }
.sand-white-wave { background-position: 0 19.74714%; background-size: 276.657061%; }
.right-blue-wave { background-position: 0 40.836771%; background-size: 311.688312%; }
.duck { background-position: 0 60.099971%; background-size: 332.755633%; }
.card-river { background-position: 0 73.253602%; background-size: 342.857143%; }
.left-hand { background-position: 0 86.107213%; background-size: 354.898336%; }
.blue-wave-text-after { background-position: 0 93.580637%; background-size: 806.722689%; }
.logo-river { background-position: 0 96.551724%; background-size: 864.864865%; }
.white-wave-text-after { background-position: 0 100%; background-size: 994.818653%; }
