$primary-color: #006ab3;
$secondary-color: #f2ac0e;
$third-color-yellow: #fbc528;
$third-color-blue: #009ee0;
$third-color-blue-light: #84d0f0;
$third-color-gray: #5f645f;
$color-white: #fff;


$font-textanarrowalt-bold: 'textanarrowalt-bold-webfont', sans serif;
$font-textanarrowalt-book: 'textanarrowalt-book-webfont', sans serif;
$font-textanarrowalt-mediumit: 'textanarrowalt-mediumit-webfont', sans serif;
$font-lactosa: 'lactosa-webfont', cursive;

